:root {
    --bg-color: rgb(16, 24, 40);
    --clr-primary: rgb(124, 134, 255);
    --bg-btn-primary: rgb(97, 95, 255);
    --bg-input: rgb(28, 36, 51);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__card {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.auth__card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.auth__card__header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.auth__card__header h2 {
    color: #fff;
}

form.form__auth {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__control {
    display: block;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

.label__content-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot__password {
    color: var(--clr-primary);
}

.bar__password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label[for="status__bar"] {
    color: #fff;
}

.description__status {
    color: #ddd;
}

.bar__password-value {
    width: 100%;
    background-color: rgb(122, 122, 122);
    height: 20px;
    border-radius: 100px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.bar__password-value .value {
    width: 0%;
    height: 100%;
    background-color: red;
    transition: 0.3s ease-in-out;
}


.form__label {
    color: #fff;
}

.form__checkbox {
    color: #fff;
}

.form__label::after {
    content: '*';
    color: tomato;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--bg-btn-primary);
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.btn.reg {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(133, 133, 138);
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn.reg.enabled {
    background-color: rgb(97, 95, 255);
    cursor: pointer;
}


.auth__card p {
    display: block;
    text-align: center;
    color: #fff;
}

.a__link {
    color: var(--clr-primary);
}





@media screen and (max-width:768px) {
    html {
        font-size: .8rem;
    }

    .auth__card {
        width: 100%;
    }

    .auth__card__header img {
        width: 70px;
        height: 70px;
    }
}